
.account-dashboard header {
  background: #1c465d;
  color:white;
  padding:10px;
  display:inline-flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
}
.account-dashboard header p {
  margin: auto 0;
}
.account-dashboard form {
  padding-top: 10px;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
