.header-master {
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
.header-main{
  background: #3cd4f2;
  box-shadow: 0 3px 3px rgb(146, 146, 146);
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  height:10vh;
}
.header-main__left{
  width: 20%;
  margin-right:auto;
  height: 100%;
  background: white;
  color: #2a2a2a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-main__left img {
  height: 9vh;
  color: #032f3a;
}
.header-main__right{
  width: 75%;
  float:right;
  margin-left:auto;
  padding: 0 10px;
  height: 100%;
  background: #2a2a2a;
  color: white;
  text-align: right;
  display: inline-flex;
  justify-content: space-evenly;
}
.header-main__right li {
  list-style: none;
}
.header-main__right > a , .header-main__right li > a {
  background: #2a2a2a;
  color: white;
  text-decoration: none;
}
.header-main__right .nav-bars {
  background: transparent;
  color:white;
  width:10vh;
  height:10vh;
  text-align: center;
  cursor: pointer;
}
.header-main__right .nav-bars span {
  width:4.5vh;
  height:1px;
  position: absolute;
  background: rgb(220, 220, 220);
  transition: .2s all ease-in-out;
}
.header-main__right .nav-bars span:nth-child(1) {
  margin-top: 4vh;
}
.header-main__right .nav-bars span:nth-child(2) {
  margin-top: 5vh;
}
.header-main__right .nav-bars span:nth-child(3) {
  margin-top: 6vh;
}
.header-main__right .nav-bars.active span:nth-child(1) {
  transform: rotateZ(-135deg);
  margin-top:5vh;
  background-color:white;
}
.header-main__right .nav-bars.active span:nth-child(2) {
  transform: translateX(10vh);
  opacity: 0;
  margin-top:5vh;
}
.header-main__right .nav-bars.active span:nth-child(3) {
  transform: rotateZ(135deg);
  margin-top:5vh;
  background-color:white;
}
.header-pre {
  background:#032f3a;
  color: white;
  width:100%;display: inline-flex;
  justify-content: right;
}
.header-pre a {
  margin:0 10px;
  color: white;
}
.header-main__right .login {
  background:white;
  color:#2a2a2a !important;
  border-radius:5vh;
  padding:1vh 2.3vh;
  transition: .2s all ease-in-out;
}
.header-main__right a:hover {
  text-decoration: none;
  color: rgb(170, 170, 170);
}
.header-main__right .login:hover {
  background: transparent;
  color:white !important;
  text-decoration: none;
  border: 1px solid white;
}
.header-main__right .signup {
  border: 1px solid white;
  border-radius:5vh;
  padding:1vh 2vh;
  transition: .2s all ease-in-out;
}
.header-main__right .signup:hover {
  background:white;
  color:#2a2a2a !important;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .signup {
    display: none;
  }
}
@media screen and (max-width: 511px){
  .header-main__left img {
    height: 7vh;
  }
  .header-main__left {
    width: 15%;
  }
  .header-main__right {
   width: 85%;
  }
}
@media screen and (max-width: 420px){
  .header-main__left {
    display: none;
  }
  .header-main__right {
    width: 100%;
  }
  .header-pre a {
    font-size: small;
    padding: 5px 1px;
  }
}


#sideMenu {
  display: none;
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  background:#2a2a2a;
  color: white;
  overflow-x: hidden;
  max-width: 50%;
  z-index: 100;
  box-sizing: border-box;
  box-shadow: 2px 3px 5px rgb(55, 55, 55);
}
#sideMenu__head {
  text-align: center;
  width: 100%;
  background: white;
}
#sideMenu ul {
  padding:0;
  margin:0;
  min-width:30vw;
}
#sideMenu ul li {
  display: block;
  border-bottom: 1px solid rgb(198, 198, 198);
  transition: .2s all ease-in-out;
  padding:10px;
}
#sideMenu a {
  font-size:large;
  text-decoration: none;
  color: white;
}
#sideMenu ul li:hover {
  color: grey;
  border-left:5px solid white;
}

.slide{
  width:100%;
  height:100vh;
  text-align: center;
}

.loading-screen, .error-screen {
  z-index: 1000;
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  background:white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.loading-screen > .inner-wrapper, .error-screen > .inner-wrapper {
  color: rgb(114, 114, 114);
  font-weight: lighter;
  text-align: center;
  padding-bottom:10px;
}
.spinner-img.x-small {
  height: 2em;
}
.spinner-img.small {
  height: 3rem;
}
.spinner-img.medium {
  height: 6rem;
}
.spinner-img.large {
  height: 8rem;
}
.spinner-img {
  animation: rotation 1.5s infinite forwards;
}
.loading-screen img {
  animation: rotation 1.75s infinite forwards;
}
@keyframes rotation {
  0% {
    transform: rotateZ(0deg)
  }
  100% {
    transform: rotateZ(360deg)
  }
}

.content {
  margin-top: 1em;
  min-height: 75vh;
}

.form-modal {
  color:transparent;
  transition:.5s all ease-in-out;
}
.form-modal.success{
  color:rgb(0, 198, 0);
}
.form-modal.failure {
  color: firebrick;
}
.wrapper {
  padding: 3em 5px;
  min-height: 70vh;
}
.is-disabled {
  background: #e9ecef;
}
